doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
        script(src='/javascript/jquery.min.js')
        script(src='/javascript/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheet/errorstyle.css')
        link(rel='stylesheet', href='/include/font-awesome-4.7.0/css/font-awesome.min.css')
        //if lt IE 9
          script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
          script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js')
        title E-shop
    body
        h6
            | OOPS CAN'T FIND PAGE

