doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='/angular/angular.js')
        script(src='/angular-sanitize/angular-sanitize.js')
        script(src='/ui-select/dist/select.js')
        link(rel='stylesheet', href='/ui-select/dist/select.css')
        link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
        script(src='/javascript/ui-bootstrap-tpls-2.5.0.min.js')
        script(src='/javascript/jquery.min.js')
        script(src='/javascript/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheet/style.css')
        link(rel='stylesheet', href='/include/font-awesome-4.7.0/css/font-awesome.min.css')
        script(src='/javascript/indexjs.js')
        script(src='/javascript/indexangularjs.js')
        //if lt IE 9
                 script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
                 script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js')
        title Warehouse
    body(ng-app='navigationBar')
        header.navbar.navbar-inverse.navbar-fixed-left
            #profpicture
                a.navbar-brand(href='#')
                    img(src='/images/man-156584_960_720.png')
            ul.nav.navbar-nav(ng-controller='navigateControl')
                li
                    a(href='#') Warehouse
                li
                    a(href='#') Sell
                li
                    a(href='#') Return
                li
                    a(href='#') Total
                li
                    a(href='#' , ng-click='logout()') Logout
        section
            .container-fluid
                .row.text-center
                    #searchmodal.modal.fade(role='dialog')
                        .modal-dialog.modal-sm
                            // Modal content
                            .modal-content#searchmodalstyle
                                .modal-header
                                    button.close(type='button', data-dismiss='modal') ×
                                    h4.modal-title Search
                                .modal-body
                                    form(ng-controller='indexModalController')
                                        .form-group
                                            label(for='category') Category
                                            select#categoryoption.form-control
                                                option
                                                option 1
                                                option 2
                                                option 3
                                                option 4
                                        .form-group
                                            label(for='type') Type
                                            select#typeoptin.form-control
                                                option
                                                option 1
                                                option 2
                                                option 3
                                                option 4
                                        .form-group
                                            label(for='name') Name
                                            input#nameinput.form-control(type='text', placeholder='Light bulb')
                                        .form-group
                                            label(for='company') Company
                                            input#companyinput.form-control(type='text', placeholder='Osram')
                                        .form-group
                                            label(for='price') Price
                                            input#priceinput.form-control(type='text', placeholder='2500')
                                        .form-group
                                            label(for='stockprice') Stock price
                                            input#stockpriceinput.form-control(type='text', placeholder='3000')
                                        .form-group
                                            label(for='item') Item
                                            input#iteminput.form-control(type='text', placeholder='7')
                                        button.btn.btn-default(type='submit') Find
                                .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    .col-sm-2
                    .col-sm-2
                        a.clickeffect(href='#', data-toggle="modal" data-target="#searchmodal")
                            .itempropcont
                                i.fa.fa.fa-search.fa-5x.fa-fw(aria-hidden='true')
                    .col-sm-1
                    .col-sm-2
                        a.clickeffect(href='#')
                            .itempropcont
                                i.fa.fa-pencil.fa-5x.fa-fw(aria-hidden='true')
                    .col-sm-1
                    .col-sm-2
                        a.clickeffect(href='#')
                            .itempropcont
                                i.fa.fa-trash-o.fa-fw.fa-5x(aria-hidden='true')
                    .col-sm-2
            .container-fluid
                .row
                    .col-sm-2
                    #itemadd.col-sm-8
                        form.form-inline(name='itemform' ng-controller='indexFormCtrl')
                            .container-fluid.text-center
                                .row
                                    .col-sm-4
                                        .form-group
                                            label(for='Category')
                                                | Category
                                            input#Category.form-control(type='text', ng-model='$root.itemCategory', required )
                                    .col-sm-4
                                        .form-group
                                            label(for='Type')
                                                | Type
                                            input#Type.form-control(type='text', ng-model='$root.itemType', required )
                                    .col-sm-4
                                        .form-group
                                            label(for='Name')
                                                | Name
                                            input#Name.form-control(type='text', ng-model='$root.itemName', required )
                            .container-fluid.text-center
                                .row
                                    .col-sm-4
                                        .form-group
                                            label(for='Company')
                                                | Company
                                            input#Company.form-control(type='text', ng-model='$root.itemCompany' , required )
                                    .col-sm-4
                                        .form-group
                                            label(for='Price')
                                                | Price
                                            input#Price.form-control(type='text', ng-model='$root.itemPrice' required )
                                    .col-sm-4
                                        .form-group
                                            label(for='Stockprice')
                                                | Stock price
                                            input#Stockprice.form-control(type='text', ng-model='$root.itemStockprice' , required )
                            .container-fluid.text-center
                                .row
                                    .col-sm-4
                                        .form-group
                                            label(for='Item')
                                                | Item
                                            input#Item.form-control(type='text', ng-model='$root.itemNumber' , required )
                                    .col-sm-4
                                    .col-sm-4
                            .container-fluid.text-center
                                .row
                                    .col-sm-4
                                    .col-sm-4
                                        button.btn.btn-default(type='submit',ng-click='addToDatabase()', ng-disabled="itemform.$invalid")
                                            | ADD
                                    .col-sm-4
                    .col-sm-2
            #itemlist.container-fluid
                .row
                    .col-sm-2
                    .col-sm-8
                        .table-responsive(ng-controller='tablecontroller')
                            table.table.table-hover
                                thead
                                    tr
                                        th
                                            | Category
                                        th
                                            | Type
                                        th
                                            | Name
                                        th
                                            | Company
                                        th
                                            | Price
                                        th
                                            | Stock Price
                                        th
                                            | Item
                                tbody(ng-controller='datagetcontroller', ng-init='loadData()')
                                     tr(ng-repeat='items in itemsList | limitTo:quanity', ng-click='highlight(items)', ng-class='{activerow:rowClicked==items}')
                                        td
                                            | {{items.category}}
                                        td
                                            | {{items.type}}
                                        td
                                            | {{items.name}}
                                        td
                                            | {{items.company}}
                                        td
                                            | {{items.price}}
                                        td
                                            | {{items.stockPrice}}
                                        td
                                            | {{items.item}}
                            ul.pagination-sm(uib-pagination='', total-items='bigTotalItems', ng-model='bigCurrentPage', max-size='maxSize', boundary-link-numbers='true', rotate='false',items-per-page = 'quanity')
                    .col-sm-2
