doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='stylesheet/bootstrap.min.css')
        script(src='javascript/jquery.min.js')
        script(src='javascript/bootstrap.min.js')
        link(rel='stylesheet', href='stylesheet/style.css')
        link(rel='stylesheet', href='include/font-awesome-4.7.0/css/font-awesome.min.css')
        //if lt IE 9
                 script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
                 script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js')
        title Sale
    body
        header.navbar.navbar-inverse.navbar-fixed-left
            #profpicture
                a.navbar-brand(href='#')
                    img(src='image/man-156584_960_720.png')
            ul.nav.navbar-nav
                li
                    a(href='#') Warehouse
                li
                    a(href='#') Sell
                li
                    a(href='#') Total
                li
                    a(href='#') Logout
        section#sell
            .container-fluid
                .row
                    .col-sm-2
                    .col-sm-8
                        form.form-inline(method='get', action='')
                            .container-fluid.text-center
                                .row
                                    .col-sm-4
                                        .form-group
                                            label(for='Category')
                                                | Category
                                            input#Category.form-control(type='text')
                                    .col-sm-4
                                        .form-group
                                            label(for='Type')
                                                | Type
                                            input#Type.form-control(type='text')
                                    .col-sm-4
                                        .form-group
                                            label(for='Name')
                                                | Name
                                            input#Name.form-control(type='text')
                            .container-fluid.text-center
                                .row
                                    .col-sm-4
                                    .col-sm-4
                                        button.btn.btn-default
                                            | ADD
                                    .col-sm-4
                    .col-sm-2
            .container-fluid
                .row
                    .col-sm-2
                    .col-sm-8
                        .table-responsive
                            table.table
                                thead
                                    tr
                                        th
                                            | Content
                                        th
                                            | Type
                                        th
                                            | Name
                                        th
                                            | Company
                                        th
                                            | Price
                                        th
                                            | Stock price
                                        th
                                            | Item
                                        th
                                            | Sold item
                                        th
                                            | Last price
                                        th.text-center
                                            | Accept
                                tbody
                                    tr
                                        td
                                            | lorem ipsum
                                        td
                                            | lorem ipsum
                                        td
                                            | lorem ipsum
                                        td
                                            | lorem ipsum
                                        td
                                            | lorem ipsum
                                        td
                                            | lorem ipsum
                                        td
                                            | lorem ipsum
                                        td
                                            input(type='number', required='')
                                        td
                                            | lorem ipsum fgdgdfgdfgdfg
                                        td
                                            .text-center
                                                a(href='#')
                                                    span#accept.pull-left
                                                        i.fa.fa-check-circle-o.fa-fw(aria-hidden='true')
                                                a(href='#')
                                                    span#decline.pull-right
                                                        i.fa.fa-times-circle-o.fa-fw(aria-hidden='true')
                    .col-sm-2
